ion-card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ion-input,
ion-textarea,
ion-select {
  border-radius: 10px;
  margin-top: 1rem;
  border: 0.5px solid #c7d1ef;
  --padding-start: 15px !important;
  background-color: #ffffff;
}

ion-item {
  --inner-border-width: 0;
  padding-right: 10px;
  margin: 0 0 0 0;
}

ion-label {
  font-weight: 800 !important;
  margin: 0 0 0 0;
  color: #001d6e !important;
}

ion-card {
  border-radius: 18px;
  box-shadow: #64646f33 0 7px 29px;
}

p {
  color: #001d6e;
}

h1 {
  color: #ffffff;
  font-weight: 800;
}

h2 {
  color: #001d6e;
  font-weight: 800;
}

h3 {
  color: #001d6e;
  font-weight: 800;
  text-align: center;
}

.labelText {
  text-align: center;
  font-size: 1.2rem;
}

.labelFont {
  padding-left: 1.2rem;
  font-size: 1rem;
}

.saveButton {
  width: 6.5rem;
  height: 3rem;
  font-weight: 700;
}

.text-danger {
  font-weight: 800 bold !important;
  color: #f03a3a;
  margin: 1.5rem;
  margin-bottom: 10rem !important;
}

.isDataNot {
  text-align: center !important;
}

.col-add {
  margin-left: 3.3rem;
  margin-top: 10px;
}

.chip-name {
  margin-left: 9rem;
  margin-top: 2px;

}

.col-hidden {
  visibility: hidden;
  display: none;
}

.app-header {
  background-color: #001d6e
}

@media (min-width: 500px) {
  ion-modal {
    --height: 600px;
  }
}