ion-tab-button[aria-selected="true"] {
  color: #001d6e;
}

ion-card {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ion-label {
  font-weight: 800;
}

ion-item {
  --inner-border-width: 0;
  padding-right: 8px;
  margin: 0 0 0 0;
}

ion-header {
  --background: #001d6e;
}

.navbarcolor {
  --background: #001d6e;
}

span {
  font-family: fantasy;
}

.title-head {
  color: white;
  text-align: center;
}

p {
  color: #001d6e;
  margin: 0 0 0 0;
}