<ion-searchbar *ngIf="!searchvalue" type="search" class="ion-margin-top" (ionChange)="doInfinite($event)">
</ion-searchbar>
<h5 *ngIf="filterToPush == false" class="isDataNot">No Data Found</h5>
<ion-content>
  <ion-fab *ngIf="isShown" horizontal="end" vertical="bottom" slot="fixed" class="ion-margin-top">
    <ion-fab-button id="triggerbutton_one">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of filterToPush ; let i = index;" size="12" size-sm="6" size-md="6" size-lg="4">
        <ion-card class="ion-padding ion-margin-top">
          <ion-item>
            <ion-label class="labelText"> {{item.customerName}} </ion-label>
            <ion-chip *ngIf="isShown" color="tertiary" id="edit-customer{{i}}">
              <ion-label>Edit</ion-label>
            </ion-chip>
            <ion-modal trigger="edit-customer{{i}}">
              <ng-template>
                <div class="app-header">
                  <h1>Edit Customer</h1>
                </div>
                <ion-content>
                  <ion-grid>
                    <form [formGroup]="updateForm">
                      <ion-row class="hiddenText">
                        <ion-col>
                          <ion-input type="text" disabled [(ngModel)]="item.customerId" formControlName="customerId"
                            placeholder=""></ion-input>
                        </ion-col>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-input type="text" [(ngModel)]="item.attachmentId" formControlName="attachmentId">
                            </ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Customer Name</ion-label>
                            <ion-input type="text" [(ngModel)]="item.customerName" formControlName="customerName"
                              placeholder=""></ion-input>
                          </ion-item>
                          <span class="text-danger" *ngIf="!updateForm.controls['customerName'].valid && 
                                            updateForm.controls['customerName']?.touched">
                            Name is required *</span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Guarantor Name</ion-label>
                            <ion-input type="text" [(ngModel)]="item.guarantorName" formControlName="guarantorName"
                              placeholder=""></ion-input>
                          </ion-item>
                          <span class="text-danger" *ngIf="!updateForm.controls['guarantorName'].valid && 
                                            updateForm.controls['guarantorName']?.touched">
                            Father/Husband name is required *</span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Address</ion-label>
                            <ion-textarea type="text" [(ngModel)]="item.address" formControlName="address"
                              placeholder="Enter Address..." (keydown.enter)="$event.preventDefault()">
                            </ion-textarea>
                          </ion-item>
                          <span class="text-danger" *ngIf="!updateForm.controls['address'].valid && 
                                            updateForm.controls['address']?.touched">
                            Address is required *</span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Mobile No</ion-label>
                            <ion-input type="text" [(ngModel)]="item.mobileNumber" formControlName="mobileNumber"
                              placeholder="" minlength="10" maxlength="10" (keydown)="validateNumber($event)">
                            </ion-input>
                          </ion-item>
                          <span class="text-danger" *ngIf="!updateForm.controls['mobileNumber'].valid && 
                                            updateForm.controls['mobileNumber']?.touched">
                            Mobile number is required *</span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Additional Mobile No</ion-label>
                            <ion-input type="tel" [(ngModel)]="item.additionalMobileNumber"  formControlName="additionalMobileNumber" placeholder="Optional"
                              minlength="10" maxlength="10" (keydown)="validateNumber($event)">
                            </ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Adhaar Number</ion-label>
                            <ion-input type="text" [(ngModel)]="item.aadharNumber" formControlName="aadharNumber"
                              placeholder="Enter Aadhar Number" minlength="12" maxlength="12"
                              (keydown)="validateNumber($event)" disabled>
                            </ion-input>
                          </ion-item>
                          <span class="text-danger" *ngIf="!updateForm.controls['aadharNumber'].valid && 
                                            updateForm.controls['aadharNumber']?.touched">
                            Aadhar number is required *</span>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none">
                            <ion-label position="stacked">Referred By</ion-label>
                            <ion-input type="text" [(ngModel)]="item.referredBy" formControlName="referredBy">
                            </ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row class="paddingOnSide">
                        <ion-col>
                          <ion-button expand="block" (click)="onClose()" color="danger">
                            Cancel</ion-button>
                        </ion-col>
                        <ion-col>
                          <ion-button color="tertiary" expand="block" type="submit"
                            (click)="updateCustomer(updateForm.value)">Save
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </form>
                  </ion-grid>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="call"></ion-icon>
            <ion-label class="ion-text-wrap">
              <p>{{ item.mobileNumber }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="Person"></ion-icon>
            <ion-label class="ion-text-wrap">
              <p>{{ item.referredBy }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label class="ion-text-wrap">
              <p>{{ item.address }}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-chip color="tertiary" slot="end" (click)="presentAlertConfirm(item.customerId, item.customerName)">
              <ion-icon name="person" color="primary"></ion-icon>
              <ion-label color="teritary">Add To Product</ion-label>
            </ion-chip>
            <ion-chip color="tertiary" (click)="customerHistory(item.customerId)">
              <ion-icon name="people" color="primary"></ion-icon>
              <ion-label color="teritary">Details</ion-label>
            </ion-chip>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="loadMorePosts($event)" threshold="100px">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
<ion-modal trigger="triggerbutton_one">
  <ng-template>
    <div class="app-header">
      <h1>Add customer</h1>
    </div>
    <ion-grid class="ion-no-margin scrollbar" id="style-1">
      <form (ngSubmit)="save(customerForm.value)" [formGroup]="customerForm">
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Customer Name</ion-label>
              <ion-input type="text" formControlName="customerName" placeholder="Enter the Customer Name">
              </ion-input>
            </ion-item>
            <span class="text-danger" *ngIf="!customerForm.controls['customerName'].valid && 
                            customerForm.controls['customerName']?.touched">Customer Name is required *</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Guarantor Name</ion-label>
              <ion-input type="text" formControlName="guarantorName" placeholder=" Enter the Guarantor Name">
              </ion-input>
            </ion-item>
            <span class="text-danger" *ngIf="!customerForm.controls['guarantorName'].valid && 
        customerForm.controls['guarantorName']?.touched">
              Father/Husband name is required *</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Referred By</ion-label>
              <ion-input type="text" formControlName="referredBy" placeholder=" Enter the Reference here">
              </ion-input>
            </ion-item>
            <span class="text-danger" *ngIf="!customerForm.controls['referredBy'].valid && 
          customerForm.controls['referredBy']?.touched">
              Referred is required *</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Address</ion-label>
              <ion-textarea type="text" formControlName="address" placeholder="Enter your Address">
              </ion-textarea>
            </ion-item>
            <span class="text-danger" *ngIf="!customerForm.controls['address'].valid && 
        customerForm.controls['address']?.touched">
              Address is required *</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Mobile No</ion-label>
              <ion-input type="tel" formControlName="mobileNumber" placeholder="Enter 10 digit number" minlength="10"
                maxlength="10" (keydown)="validateNumber($event)" (ionChange)="CheckMobileNumber()">
              </ion-input>
            </ion-item>
            <span class="alert-danger" *ngIf="isShowError == true">
              <b>Already Exist</b> Enter valid Mobile Number
            </span>
            <span class="text-danger" *ngIf="!customerForm.controls['mobileNumber'].valid && 
        customerForm.controls['mobileNumber']?.touched">
              Mobile Number is required *</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Additional Mobile No</ion-label>
              <ion-input type="tel" formControlName="additionalMobileNumber" placeholder="Optional" minlength="10"
                maxlength="10" (keydown)="validateNumber($event)">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label position="stacked">Adhaar Number</ion-label>
              <ion-input type="tel" (ionChange)="CheckAdharNumber()" formControlName="aadharNumber"
                placeholder="Enter Aadhar Number" minlength="12" maxlength="12" (keydown)="validateNumber($event)">
              </ion-input>
            </ion-item>
            <span class="alert-danger" *ngIf="isShowErrors == true">
              <b>Already Exist</b> Enter Valid Adhaar Number
            </span>
            <span class="text-danger" *ngIf="!customerForm.controls['aadharNumber'].valid && 
        customerForm.controls['aadharNumber']?.touched">
              Aadhar Number is required *</span>
          </ion-col>
        </ion-row>
        <ion-row class="paddingOnSide">
          <ion-col>
            <ion-button expand="block" (click)="onClose()" color="danger">
              Cancel</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="tertiary" type="submit" [disabled]="!thisFormValid()">
              Save</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ng-template>
</ion-modal>